
<!-- Toolbar -->

<mat-toolbar color="primary">
  <img
  width="40"
  src="assets\img\logo.png"
/>
<span>Truks Hour Service Calculator</span>
  
  <a aria-label="" target="_blank" rel="noopener" href="" title="Twitter">
    <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <rect width="400" height="400" fill="none"/>
    </svg>
  </a>
  <a aria-label="YouTube" target="_blank" rel="noopener" href="" title="YouTube">
    <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none"/>
      <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
    </svg>
  </a>
</mat-toolbar>
<!-- <div class="toolbar" role="banner">
  
</div> -->

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">


    <span> {{ title }} running! </span> <mat-icon fontIcon="local_shipping"></mat-icon>

  </div>

  <!-- Resources -->
   <h2><mat-icon fontIcon="local_shipping"></mat-icon> Truks Hour Calculator</h2>
 

  <!-- Next Steps -->
  <h2>Next Steps</h2>
  <p>Get your Excell File</p>

</div>
<div class="container"> 
  <router-outlet></router-outlet>

</div>

