span{
    margin-left:  1rem;
}


table {
  width: 100%;
  margin-top: 1rem;
}
.mat-header-row{
  background-color: rgb(7, 60, 235);
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}